* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.container {
    width: 200px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;

}

#mybtn {
    width: 50px;
}

#result {
    height: 30px;
}